<div class="page-wrapper">
  <section class="intro">
	<div class="summary" role="article">
	  <p>Un diàleg entre l’abans i l’ara de la Barceloneta a través de les fotografíes de les persones grans del barri.</p>
	</div>
	<div class="preamble" role="article">
      <h3><a href="">el mapa</a></h3>
      <p>Mapa interactivo a partir del cual se podrá ....</p>
    </div>
  </section>
  <div class="main supporting" role="main">
	<div class="explanation" id="zen-explanation" role="article">
	  <h3>Descripción</h3>
      <p>Tornar al Lloc és un projecte d'acompanyament a la gent gran del barri de la Barceloneta per als espais importants de les seves vides, “el lloc on van néixer, els espais on jugaven amb les veïnes, allà on rentaven la roba, allà on les mares “remendaven” la xarxa, la bomba que els hi va escardar la casa, o l'escola davant del mar que els feixistes van fer explotar”. </p>
    </div>
    
	<div class="participation" id="zen-participation" role="article">
      <h3>Participation</h3>
      <p></p>
    </div>
    
  </div>
  
    </div>
</div>
