<nav>
	<aside  role="complementary">
		<div class="wrapper">
           <h2> --- Tornar al lloc ---</h2>
			<div class="menu">
			  <nav role="navigation" >
					<ul>
					  <li>
						<a href="#/"  class="design-name">Home</a> 
                      </li>
					  <li>
						<a href="#/map" class="design-name">MAP</a> 
					  </li>					
					  <li>
						<a href="https://esmeraldando.wordpress.com/" class="design-name">Blog</a> 
                      </li>
					</ul>
				</nav>
			</div>
        </div>
    </aside>
</nav>
