  <div id="sideBar">
        <div id="search"> 
          <input type="text" ng-model="searchTerm" ng-keypress="searchGeoObjects($event)">
 
          <ul ng-if="state=='search'">
            <li ng-repeat="geoObject in geoObjectsSearch"> <a href ng-click="showGeoObjectDetails(geoObject.id)">{{geoObject.value}}</a></li>
          </ul>
          <p>Categories</p>
          <ul ng-if="state=='search'">
            <li ng-repeat="geoObject in categoriesSearch"> <a href ng-click="showGeoObjectDetails(geoObject.id)">{{geoObject.value}}</a></li>
          </ul>
        </div>
        <ul>
          <li ng-repeat="criterion in criteria" > <a href ng-click="selectCriteria(criterion)">{{criterion.value}}</a></li>
        </ul>
        <div ng-if="state=='category list'">
          Filter categories: <input type="text" ng-model="value">
          <ul>
            <li ng-repeat="category in categories | filter:value | orderBy:'value'">
              <a href ng-click="selectCategory(category)">{{category.value}} </a> (<a href ng-click="switchVisibility(category)">switch</a>)
            </li>
          </ul>
        </div>
        
        <div  ng-if="state=='geo object list'">
          <breadcrumb></breadcrumb>
          <ul>
            <li ng-repeat="geoObject in geoObjects">
              <a href ng-click="showGeoObjectDetails(geoObject.id)">{{geoObject.value}}</a>
            </li>
          </ul>
        </div>
        
        <div  ng-if="state=='geo object details'">
          <breadcrumb></breadcrumb>
          <b>Name</b> {{detailGeoObject.value}}
          <b><br/> Addresse</b> {{detailGeoObject.composite["dm4.contacts.address"].value}}
          <b ng-if="details['ka2.oeffnungszeiten']"><br/> Öffnungzeiten</b> <span ng-if="details['ka2.oeffnungszeiten']" ng-bind-html="details['ka2.oeffnungszeiten']"></span>
          <b ng-if="details['ka2.kontakt.telefon']"><br/> Telefon</b> {{details["ka2.kontakt.telefon"]}}
          <b ng-if="details['ka2.kontakt.fax']"><br/> Fax</b> {{details["ka2.kontakt.fax"]}}
          <b ng-if="details['ka2.kontakt.ansprechpartner']"> <br/> Ansprechpartner/in</b> {{details["ka2.kontakt.ansprechpartner"]}}
          <b ng-if="details['ka2.kontakt.email']"><br/> Email</b> {{details["ka2.kontakt.email"]}}
          <b ng-if="details['dm4.webbrowser.url']"><br/> Website</b> {{details["dm4.webbrowser.url"]}}
          <b><br/> Description</b> <span ng-if="details['ka2.beschreibung']" ng-bind-html="details['ka2.beschreibung']"> </span> 
          <b><br/> Categories</b>
          <ul>
            <li ng-repeat="geoObjCat in geoObjCategories">
              {{geoObjCat}}
            </li>
          </ul>


        </div>
